html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.svg-container {
    margin: 0;
    height: 100%;
    width: 100%;
}

svg {
    width: 100%;
    height: 100%;
    user-select: none;
}

/* Settings Panel */

.settings_panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 33%;
    padding: 1em;
    padding-right: 0;

    display: flex;
    flex-direction: column;
    gap: 1em;

    pointer-events: none;
}

.settings_panel > * {
    padding: 0.5rem;
    background: var(--vscode-editorHoverWidget-background, black);

    border-radius: 3px;
    border: 1px solid var(--vscode-editorHoverWidget-border, red);
}

.settings_header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;

    font-size: 1.5em;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
    pointer-events: all;
}

.settings_title {
    flex: 1 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button-toggle_settings {
    width: 0.75em;
    height: 0.75em;
    flex: 0 0 auto;
    display: grid;
    place-items: center;
}

.settings_content {
    flex: 1 0 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.settings_content--shown {
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}
