.panel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 33%;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    pointer-events: none;

    --panel-background-color: var(--vscode-editorHoverWidget-background, black);
    --panel-border-color: var(--vscode-editorHoverWidget-border, gray);
}

.panel > * {
    padding: 0.5rem;
    background: var(--panel-background-color);

    border-radius: 3px;
    border: 1px solid var(--panel-border-color);
}

.panel_header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;

    font-size: 1.5em;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
    pointer-events: all;
}

.panel_title {
    flex: 1 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button-toggle_panel {
    width: 0.75em;
    height: 0.75em;
    flex: 0 0 auto;
    display: grid;
    place-items: center;
}

.panel_content {
    flex: 1 0 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    overflow: auto;
}

.panel_content--shown {
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}

hr {
    border-color: var(--panel-border-color);
}